body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: large;
  }


/* unvisited link */
a:link {
  color: black;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: lightblue;
  text-decoration: none;
}

/* selected link */
a:active {
  color: lightblue;
  text-decoration: underline;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
  border-style: solid;
  border-color: gray;
  background-color: rgb(218, 209, 176);
}

.copy {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-width: 1;
}

.copy:hover {
  background-color: rgba(0, 0, 0, 0.5);
}